# =========================
# Dependências
# =========================
node_modules/
venv/
.venv/
env/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# =========================
# Builds e Compilados
# =========================
dist/
build/

# =========================
# Configurações e Segurança
# =========================
.env
.env.production
# O .env.local do frontend está sendo rastreado pelo Git. 
# Como só tem a URL da API, não tem problema, mas nunca coloque senhas nele.

# =========================
# IDEs e Sistema Operacional
# =========================
.vscode/
.idea/
.DS_Store

# =========================
# Logs
# =========================
*.log

backend/data/planilhas/
backend/urbix.db