.home-page {
  min-height: calc(100vh - 64px); /* altura total menos altura do header */
}

.hero {
  padding: 4rem 0;
  background-color: #f8f9fa;
  text-align: center;
  width: 100%;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.hero p {
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin-bottom: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.features {
  padding: 4rem 0;
}

.features h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.feature-card {
  text-align: left;
}

.feature-card h3 {
  color: var(--text-color);
  margin-bottom: 1rem;
}

.feature-card p {
  color: var(--secondary-color);
}